# Vercel
NEXT_PUBLIC_APP_URL=...

# Supabase
NEXT_PUBLIC_SUPABASE_URL=...
NEXT_PUBLIC_SUPABASE_ANON_KEY=...
SUPABASE_SERVICE_ROLE_KEY=...

# Posthog
NEXT_PUBLIC_POSTHOG_KEY=...
NEXT_PUBLIC_POSTHOG_HOST=...

# Prisma
DATABASE_URL=...
DIRECT_URL=...
DB_POOL_MIN=...
DB_POOL_MAX=...

# Redis
REDIS_URL=...
JOB_DOMAIN=...
RQ_WORKER_CLASS=...

# FastAPI
API_URL=...
AI_URL=...
AUTH_TOKEN=...
